* {
  padding: 0px;
  margin: 0px;
}
.container {
  background-color: gray;
  padding: 15px;
}
#div1 {
  background-color: #3d77ce;
  height: 200px;
}
#div2 {
  background-color: #3d77ce;
  height: 200px;
}
#div3 {
  background-color: #3d77ce;
  height: 200px;
}
